<app-header title="Minhas Compras" [backButton]="true"></app-header>

<ion-content>
  <div id="content" class="p-2-horizontal">
    <ion-card *ngFor="let sale of listSales" (click)="goToBuy(sale.id)">
      <ion-card-header>
        <ion-card-subtitle>{{sale.id}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let item of sale.items">
          <ion-row style="font-size: .7rem">
            <ion-col size="5" class="ion-text-center">
              {{item.road.boarding.locality.name}} <br> {{item.road.boarding.locality.state.acronym}}
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-col>
            <ion-col size="5" class="ion-text-center">
              {{item.road.landing.locality.name}} <br> {{item.road.landing.locality.state.acronym}}
            </ion-col>
          </ion-row>
          <ion-row style="font-size: .7rem;">
            <ion-col size="12">
              Data ida: {{dateFormatter(item.road.datetime_departure, 'BRL')}} às {{item.road.datetime_departure.substr(11,5)}}
            </ion-col>
          </ion-row>
        </ng-container>
        <!-- Erro de importação no JSON, somente dev -->
        <ng-container *ngIf="!sale.items">
          <p style="color: red; font-size: .7rem">OCORREU UM ERRO NO PAGAMENTO.</p>
        </ng-container>
      </ion-card-content>
    </ion-card>
    <div id="sem-items" *ngIf="listSales.length == 0" class="ion-justify-content-center" style="margin-top: 2rem;">
      <h5 class="ion-text-center">Não reservou sua passagem ainda? Bora planejar sua viagem?</h5>
    </div>
  </div>
</ion-content>
