<app-header [closeButton]="true" title="Pagamento Efetuado"></app-header>

<ion-content>
  <div id="content" class="p-2-horizontal">
    <ion-card *ngFor="let sale of listSales">
      <ion-card-content>
        <ion-row style="margin-top: .5rem;" >
          <ion-col size="12" class="ion-text-center">
            <ion-icon name="checkmark-outline" style="font-size: 5rem;" color="tertiary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: .5rem;">
          <ion-col size="12" class="ion-text-center">
            <ion-card-subtitle>Sua compra foi realizada com sucesso!</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="buy-date" size="12" style="text-align: center">
            {{sale?.created_at.substr(8,2)}}/{{sale?.created_at.substr(5,2)}}/{{sale?.created_at.substr(0,4)}} - {{sale?.created_at.substr(11,8)}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="subtitle" size="12" class="ion-text-center" style="margin-bottom: .8rem;">
            Confira as viagens que integram esta compra:
          </ion-col>
        </ion-row>
        <!-- ngfor start -->
        <!-- <ng-container > -->
          <ion-slides type="ios">
            <ion-slide *ngFor="let item of sale.items">
              <div id="infos" *ngIf="!showQRCode">
                <ion-row style="margin-top: 2rem;">
                  <ion-col size="6" style="text-align:left">{{item.road.datetime_start.substr(8,2)}}/{{item.road.datetime_start.substr(5,2)}}/{{item.road.datetime_start.substr(0,4)}}</ion-col>
                  <ion-col size="6" style="text-align:right"><img [src]="item.road.company.logo" width="80%"></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5" style="text-align:left">
                    {{item.road.boarding.locality.name}} - {{item.road.boarding.locality.state.acronym}}
                  </ion-col>
                  <ion-col size="2" class="ion-text-center">
                    <ion-icon name="chevron-forward-outline" color="tertiary"></ion-icon>
                  </ion-col>
                  <ion-col size="5" style="text-align:right">
                    {{item.road.landing.locality.name}} - {{item.road.landing.locality.state.acronym}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"></ion-col>
                  <ion-col size="6" style="text-align:right; font-weight: bold;">{{item.amount | currency:'BRL'}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2">
                    <div class="p-3-horizontal">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5.35,5.64C4.45,5 4.23,3.76 4.86,2.85C5.5,1.95 6.74,1.73 7.65,2.36C8.55,3 8.77,4.24 8.14,5.15C7.5,6.05 6.26,6.27 5.35,5.64M16,19H8.93C7.45,19 6.19,17.92 5.97,16.46L4,7H2L4,16.76C4.37,19.2 6.47,21 8.94,21H16M16.23,15H11.35L10.32,10.9C11.9,11.79 13.6,12.44 15.47,12.12V10C13.84,10.3 12.03,9.72 10.78,8.74L9.14,7.47C8.91,7.29 8.65,7.17 8.38,7.09C8.06,7 7.72,6.97 7.39,7.03H7.37C6.14,7.25 5.32,8.42 5.53,9.64L6.88,15.56C7.16,17 8.39,18 9.83,18H16.68L20.5,21L22,19.5" />
                      </svg>
                    </div>
                  </ion-col>
                  <ion-col size="2" class="m-1-vertical">{{item.road.seat_number}}</ion-col>
                  <ion-col size="8" class="m-1-vertical" style="border-left: 2px solid #d8d8d8;">
                    {{item.utilizers[0].first_name}} {{item.utilizers[0].last_name}}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!showQRCode">
                  <ion-col size="4">
                    <ion-button expand="block" fill="clear" shape="round" style="font-size: .7rem; white-space: normal;">
                      Visualizar BPe
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button expand="block" fill="clear" shape="round" (click)="showQRCode = true" style="font-size: .7rem; white-space: normal;">
                      Embarque Rápido
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button expand="block" fill="clear" shape="round" style="font-size: .7rem; white-space: normal;">
                      Monitorar Viagem
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
              <!-- QR CODE -->
              <div id="qr-code" *ngIf="showQRCode">
                <ion-row style="margin-top: 1rem;">
                  <ion-col size="12" class="ion-text-center">
                    <qrcode id="qrcode" [qrdata]="item.road.electronic_boarding.qrcode_bpe" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-button *ngIf="showQRCode" (click)="showQRCode = false" expand="block" fill="clear" shape="round" style="font-size: .7rem; white-space: normal;">
                      <ion-icon slot="start" name="chevron-back-outline"></ion-icon> Recolher QR
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-slide>
          </ion-slides>
        <!-- </ng-container> -->
      <!-- ngfor end -->
      </ion-card-content>
    </ion-card>
    <div id="infos" *ngIf="listSales.length > 0" style="margin-top: 2rem; width:100%; text-align: center; bottom:2rem;">
      <ion-row>
        <ion-col size="12">
          Valor total da compra: <b>{{listSales[0]?.amount | currency:'BRL'}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Transação realizada com <b>cartão de {{listSales[0].payments[0].item.operation_type.toLowerCase()}}</b> ({{listSales[0].payments[0].item.card_flag}}) - <b>Aut. {{listSales[0].payments[0].item.authorization}}</b>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
