#buy-date {
  font-size: .8rem;
}

#subtitle {
  font-size: .7rem;
}

#infos {
  font-size: .7rem;
}

ion-slides ion-slide {
  border: 1px solid #d8d8d8;
  padding: .5rem;
  border-radius: 5px;
}

#qr-code {
  display: block;
  justify-content: center;
  background: white;
  width: 100%;
  height: 100%;
}
