ion-tabs{
	ion-fab {
		margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
		ion-fab-button {
			--box-shadow: none;
			font-size: 1.3rem;
		}

	}
	ion-tab-bar {
		--border: 0;
		--background: transparent;
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		width: 100%;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: var(--ion-color-light);
			height: env(safe-area-inset-bottom);
			position: absolute;
		}
		ion-tab-button {
			--background: var(--ion-color-light);
		}
		ion-tab-button.comments {
			margin-right: 0px;
			border-top-right-radius: 18px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
			border-top-left-radius: 18px;
		}
		svg {
			width: 72px;
			margin-top: 19px;
			path{
				fill:  var(--ion-color-light);
			}
		}
	}
}

.menu-icon {
    font-size: 1.3rem;
}

.titulo-tab {
    font-size: .5rem;
}

#buttons {
	background: var(--ion-color-light);
}

i .las {
    transition: .5s;
}

.rounded-btn {
	width: 40px;
	height: 40px;
	border-radius: 50% !important;
	background: yellow;
}

#aviso {
  margin-top: .5rem;
  font-size: .72rem;
  text-align: center;
  font-weight: 600;
  color: #bbbaba;
}
