<ion-footer class="ion-no-border" id="menu" style="transition: .5s;" mode="md">
  <ion-tabs mode="ios">
    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button (click)="toggleMenu()" color="tertiary">
        <i class="las la-user" style="transition: .3s" *ngIf="!isMenuVisible && !user.userData"></i>
        <i class="las la-plus" style="transition: .3s" *ngIf="!isMenuVisible && user.userData"></i>
        <i class="las la-times" style="transition: .3s" *ngIf="isMenuVisible"></i>
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button tab="tab-encounters" (click)="goToPerfil()">
        <i class="las la-credit-card menu-icon"></i>
        <span class="titulo-tab">Compre</span>
      </ion-tab-button>

      <ion-tab-button tab="tab-conversations" class="comments" (click)="goToPerfil()">
        <i class="las la-qrcode menu-icon"></i>
        <span class="titulo-tab">Embarque</span>
        <!-- <ion-badge *ngIf="new_message">{{new_message}}</ion-badge> -->
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

      <ion-tab-button tab="tab-notifications" class="notifs" (click)="goToExternalLink('https://blog.eumaisviagens.com.br/')">
        <i class="las la-map-signs menu-icon"></i>
        <span class="titulo-tab">Explore</span>
        <!-- <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="tab-profile" (click)="goToExternalLink('https://fidelidade.eumaisviagens.com.br/')">
        <i class="las la-flag menu-icon"></i>
        <span class="titulo-tab">Fidelidade</span>
      </ion-tab-button>
    </ion-tab-bar>
    <div id="buttons" class="p-1-horizontal p-1-vertical">
      <div id="aviso">
        <ion-row class="border rounded">
          <ion-col size="12" class="p-2-horizontal" >
            <p *ngIf="!user.userData" class="p-2-horizontal"><b>É muito bom ter você aqui! Faça seu login para uma melhor experiência</b></p>
            <p *ngIf="user.userData" class="p-2-horizontal"><b>Que bom que você voltou, {{user.userData.firstName?.split(" ")[0]}}!</b></p>
          </ion-col>
        </ion-row>
      </div>

      <!-- <div id="botoes">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-button color="tertiary">
              F.A.Q
            </ion-button>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-button color="tertiary">
              Botão 1
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-button color="tertiary">
              Botão 3
            </ion-button>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-button color="tertiary">
              Botão 4
            </ion-button>
          </ion-col>
        </ion-row>
      </div> -->

    </div>

  </ion-tabs>


</ion-footer>
