.tempo-aproximado {
    color: rgb(165, 165, 165);
    font-weight: bold;
    font-size: .9rem;
}

.bg-bilhete {
    background: #fde9e2;
    background-size: contain;
    border-radius: 5px;
    width: 100%;
}

.imagem-conexao p {
    font-size: .65rem;
    margin-top: -10px;
    color: rgb(78, 78, 78)
}

.imagem-conexao {
    margin: 0;
}

.imagem-time p {
    font-size: .65rem;
    margin-top: 5px;
    color: rgb(78, 78, 78)
}

.imagem-time {
    margin-top: 8px;
}

.with-woman-space {
  padding: .5rem .25rem;
  background: var(--ion-color-primary);
  color: white;
  text-align: center;
  height: 1rem;
  font-weight: bold;
  font-size: .6rem;
  height: auto;
  border-radius: 5px;
}

.category-label {
  padding: .5rem .25rem;
  background: var(--ion-color-tertiary);
  color: white;
  text-align: center;
  height: 1rem;
  font-weight: bold;
  font-size: .6rem;
  height: auto;
  border-radius: 5px;
}

#bilhete {
  font-size: .8rem;
}

#filtro {
  font-size: .7rem !important;
}
