<app-header [backButton]="true"></app-header>
<ion-content>
    <div id="next-travels">
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4"></ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </div>

    <div id="filtro" *ngIf="travelsLoaded.length > 1">
      <ion-card>
        <ion-card-subtitle>
          <ion-item mode="md" lines="none">
            <ion-label>
                Filtrar por
            </ion-label>
            <ion-select [multiple]="false" interface="action-sheet" cancelText="Cancelar" [(ngModel)]="filter" (ionChange)="sortTravelResults()">
                <ion-select-option [value]="0">Relevância</ion-select-option>
                <ion-select-option [value]="1">Menor Preço</ion-select-option>
                <ion-select-option [value]="2">Maior Preço</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-subtitle>
      </ion-card>
    </div>

    <ion-card class="p-2-horizontal">
      <ion-row>
        <ion-col size="12">
          Viagem de {{cabinId == 1 ? 'Ida' : 'Volta'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="ion-text-center">
          <ion-card-subtitle style="font-size: .7rem; text-align: left;">{{this.tripData.tripSectionals.from.description}} - {{this.tripData.tripSectionals.from.uf_acronym}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="chevron-forward-outline" color="tertiary"></ion-icon>
        </ion-col>
        <ion-col size="5" class="ion-text-center">
          <ion-card-subtitle style="font-size: .7rem; text-align: right;">{{this.tripData.tripSectionals.to.description}} - {{this.tripData.tripSectionals.to.uf_acronym}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card>

    <div id="lista-viagens" class="p-1-horizontal" style="margin-top: 1rem; margin-bottom: 2rem;">
        <div id="bilhete" class="bg-bilhete p-3 m-2" *ngFor="let travel of travelsLoaded" style="width: 96%; min-width: 96% !important;" (click)="goToTrip(travel)">
          <ion-row class="ion-justify-content-center">
            <ion-col size="{{travel.price_promotional > 0 ? '3' : '6'}}" class="departure-time" style="font-size: .9rem; font-weight: bold;">{{travel.departureTime}}</ion-col>
            <ion-col size="4" style="font-size: .65rem; color: var(--ion-color-primary)" *ngIf="travel.price_promotional > 0 && travel.price_promotional !== travel.price">
              {{returnDiscount(travel.items[0]?.price_promotional, travel.items[0]?.price)}}% de desconto!
            </ion-col>
            <ion-col size="4" style="text-align: right;">
              <img [src]="travel.items[0].company.logo" width="100%">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col class="with-woman-space m-1-horizontal" size="6" style="margin-top: auto; margin-bottom: auto;" *ngIf="travel.woman_space">ESPAÇO MULHER</ion-col>
                <ion-col class="category-label m-1-horizontal" size="6" style="margin-top: auto; margin-bottom: auto;">{{travel.items[0].class.long_name}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="3" class="ion-text-center" *ngIf="travel.items.length <= 1">
              <div class="imagem-conexao">
                  <img src="assets/icon/direct.png" width="40">
                  <p>direto</p>
              </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center" *ngIf="travel.items.length == 2">
                <div class="imagem-conexao">
                    <img src="assets/icon/onestop.png" width="40">
                    <p>uma conexão</p>
                </div>
            </ion-col>
            <ion-col size="3" class="ion-text-center" *ngIf="travel.items.length >= 3">
                <div class="imagem-conexao">
                    <img src="assets/icon/twostops.png" width="40">
                    <p>2 ou + conexões</p>
                </div>
            </ion-col>
            <ion-col size="5" class="ion-text-center" style="margin-top: auto; margin-bottom: auto; font-size: .65rem;">
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" class="ion-text-center" style="display: block;">
                  <div> <i class="las la-clock" style="font-size: .8rem; color: green"></i> {{travel.datePTArrival.substr(0,5)}} {{travel.arrivalTime}}</div>
                  <div></div>
                  <div *ngIf="isNumber(travel.travelTime)">Aprox. {{travel.travelTime}}h</div>
                </ion-col>
              </ion-row>

            </ion-col>
            <ion-col size="4" class="ion-text-center" style="margin-top: auto; margin-bottom: auto; font-weight: bold;">
              A partir de {{travel.price | currency: 'BRL'}}
            </ion-col>
          </ion-row>

          <!-- <ion-row class="ion-justify-content-center">
            <ion-col class="with-woman-space m-1-horizontal" size="4" *ngIf="travel.woman_space">ESPAÇO MULHER</ion-col>
            <ion-col class="category-label m-1-horizontal" size="4">{{travel.items[0].class.long_name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label color="primary">
                  <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
                  Origem
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
              <ion-label color="secondary">
                  <ion-icon slot="start" name="map-outline"></ion-icon>
                  Destino
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="6">
                <ion-label color="primary" style="font-size: .7rem;">
                    {{sectionals.from.description}}
                </ion-label>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                <ion-label color="secondary" style="font-size: .7rem;">
                    {{sectionals.to.description}}
                </ion-label>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" class="p-3-vertical" style="font-size: .75rem;">
                {{travel.weekDayDeparture}}, {{travel.datePTDeparture.substr(0,2)}} de {{travel.yearMonthDeparture}}<br>
                às {{travel.departureTime}}
            </ion-col>
            <ion-col size="4"></ion-col>
            <ion-col size="4" class="ion-text-right p-3-vertical" style="font-size: .75rem;">
                {{travel.weekDayDeparture}}, {{travel.datePTArrival.substr(0,2)}} de {{travel.yearMonthArrival}}<br>
                às {{travel.arrivalTime}}
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
              <ion-col size="4" class="ion-text-center" *ngIf="travel.items.length <= 1">
                  <div class="imagem-conexao">
                      <img src="assets/icon/direct.png" width="40">
                      <p>direto</p>
                  </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center" *ngIf="travel.items.length == 2">
                  <div class="imagem-conexao">
                      <img src="assets/icon/onestop.png" width="40">
                      <p>uma conexão</p>
                  </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center" *ngIf="travel.items.length >= 3">
                  <div class="imagem-conexao">
                      <img src="assets/icon/twostops.png" width="40">
                      <p>2 ou + conexões</p>
                  </div>
              </ion-col>
              <ion-col size="4">
                  <div class="imagem-empresa">
                      <img src="{{travel.items[0].company.logo}}" width="100" *ngIf="travel.items[0].company.logo">
                      <p style="font-size: .7rem;" *ngIf="!travel.items[0].company.logo">{{travel.items[0].class.long_name}}</p>
                  </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <div class="imagem-time">
                      <i class="las la-clock" style="font-size: .8rem; color: green"></i>
                      <p>aprox. {{travel.travelTime}}h</p>
                  </div>
              </ion-col>
          </ion-row>
          <hr>
          <ion-row>
              <ion-col size="12" class="ion-text-center" style="font-size: .8rem">
                  A partir de <b>{{travel.price | currency:'BRL'}}</b>
              </ion-col>
          </ion-row> -->
        </div>
    </div>
    .<ion-row>
        <ion-col size="12" class="m-2"></ion-col>
    </ion-row>
</ion-content>
<app-footer></app-footer>
