<ion-header>
  <ion-toolbar style="--background: white;">
    <ion-title>Exclusão de Conta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p style="text-align: justify; text-justify: inter-word;">
        Para a exclusão de conta, entre em contato com o nosso SAC,
        através do número <a href="tel:{{telSupport}}" style="color: var(--ion-color-tertiary); text-decoration: none;">{{telSupport}}</a>
        ou pelo nosso <a href="http://wa.me/{{wppSupport}}" style="color: var(--ion-color-tertiary); text-decoration: none;">WhatsApp</a>. Atendimento 24hrs de segunda à segunda.
      </p>
      <p>
        Caso queira mais informações, entre em contato através do e-mail <a href="mailto:{{emailSupport}}"  style="color: var(--ion-color-tertiary); text-decoration: none;">{{emailSupport}}</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
