#buy-date {
  font-size: .8rem;
}

#subtitle {
  font-size: .7rem;
}

#infos {
  font-size: .7rem;
}

#icon {
  color: var(--ion-color-primary);
}

ion-slides ion-slide {
  border: 1px solid #d8d8d8;
  padding: .5rem;
  border-radius: 5px;
}

ion-card-content {
  padding: 0 1rem;
}


#qr-code {
  display: block;
  justify-content: center;
  background: white;
  width: 100%;
  height: 100%;
}

#content {
  overflow: hidden;
}
