<app-header title="Minhas Compras" [backButton]="!origin" [closeButton]="origin"></app-header>
<ion-content>
  <div id="content" class="p-2-horizontal">
    <ion-card *ngIf="selectedSale">
      <ion-card-content>
        <!-- se existir um tipo de pagamento informado (aprovado) -->
        <ng-container *ngIf="selectedSale?.payments[0].statuses[0].status == 'Confirmado' || selectedSale?.payments[0].statuses[0].status == 'Aprovado' ">
        <ion-row style="margin-top: .5rem;" >
          <ion-col size="12" class="ion-text-center">
            <ion-icon name="checkmark-outline" style="font-size: 3rem;" color="tertiary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: .5rem;">
          <ion-col size="12" class="ion-text-center">
            <ion-card-subtitle>Sua compra foi realizada com sucesso!</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ng-container>
      <!-- se não existir um pagamento informado (pendente) -->
      <ng-container *ngIf="selectedSale?.payments[0].statuses[0].status == 'Pendente'">
        <ion-row style="margin-top: .5rem;" >
          <ion-col size="12" class="ion-text-center">
            <ion-icon name="alert-circle-outline" style="font-size: 5rem;" color="warning"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: .5rem;">
          <ion-col size="12" class="ion-text-center">
            <ion-card-subtitle>Sua compra encontra-se pendente!</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="buy-date" size="12" style="text-align: center">
            {{selectedSale?.created_at.substr(8,2)}}/{{selectedSale?.created_at.substr(5,2)}}/{{selectedSale?.created_at.substr(0,4)}} - {{selectedSale?.created_at.substr(11,8)}}
          </ion-col>
        </ion-row>
      </ng-container>
      <!-- se não existir um pagamento informado (pendente) -->
      <ng-container *ngIf="selectedSale?.payments[0].statuses[0].status == 'Cancelado'">
        <ion-row style="margin-top: .5rem;" >
          <ion-col size="12" class="ion-text-center">
            <ion-icon name="close-outline" style="font-size: 5rem;" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: .5rem;">
          <ion-col size="12" class="ion-text-center">
            <ion-card-subtitle>Sua compra foi cancelada!</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col id="buy-date" size="12" style="text-align: center">
            {{selectedSale?.created_at.substr(8,2)}}/{{selectedSale?.created_at.substr(5,2)}}/{{selectedSale?.created_at.substr(0,4)}} - {{selectedSale?.created_at.substr(11,8)}}
          </ion-col>
        </ion-row>
      </ng-container>
        <ion-row>
          <ion-col id="subtitle" size="12" class="ion-text-center" style="margin-bottom: 1rem;">
            Confira as viagens que {{selectedSale?.payments[0].statuses[0].status == 'Confirmado' || selectedSale?.payments[0].statuses[0].status == 'Aprovado' ? 'integram' : 'integravam'}} esta compra:
          </ion-col>
        </ion-row>
        <!-- ngfor start -->
          <ion-slides type="ios" [pager]="true">
            <ion-slide *ngFor="let item of selectedSale.items">
              <div id="infos" *ngIf="!showQRCode">
                <div id="localizer" style="font-size: .7rem; padding: .5rem 0">
                  <ion-row>
                    <ion-col size="12">
                      <strong>{{item.localizer}}</strong>
                    </ion-col>
                  </ion-row>
                </div>
                <ion-row>
                  <ion-col size="6" style="text-align:left">{{item.road.datetime_start.substr(8,2)}}/{{item.road.datetime_start.substr(5,2)}}/{{item.road.datetime_start.substr(0,4)}} {{item.road.datetime_start.substr(11,5)}}</ion-col>
                  <ion-col size="6" style="text-align:right"><img [src]="item.road.company.logo" width="80%"></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="5" style="text-align:left">
                    {{item.road.boarding.locality.name}} - {{item.road.boarding.locality.state.acronym}}
                  </ion-col>
                  <ion-col size="2" class="ion-text-center">
                    <ion-icon name="chevron-forward-outline" color="tertiary"></ion-icon>
                  </ion-col>
                  <ion-col size="5" style="text-align:right">
                    {{item.road.landing.locality.name}} - {{item.road.landing.locality.state.acronym}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6"></ion-col>
                  <ion-col size="6" style="text-align:right; font-weight: bold;">{{item.amount | currency:'BRL'}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2">
                    <div class="p-3-horizontal">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M5.35,5.64C4.45,5 4.23,3.76 4.86,2.85C5.5,1.95 6.74,1.73 7.65,2.36C8.55,3 8.77,4.24 8.14,5.15C7.5,6.05 6.26,6.27 5.35,5.64M16,19H8.93C7.45,19 6.19,17.92 5.97,16.46L4,7H2L4,16.76C4.37,19.2 6.47,21 8.94,21H16M16.23,15H11.35L10.32,10.9C11.9,11.79 13.6,12.44 15.47,12.12V10C13.84,10.3 12.03,9.72 10.78,8.74L9.14,7.47C8.91,7.29 8.65,7.17 8.38,7.09C8.06,7 7.72,6.97 7.39,7.03H7.37C6.14,7.25 5.32,8.42 5.53,9.64L6.88,15.56C7.16,17 8.39,18 9.83,18H16.68L20.5,21L22,19.5" />
                      </svg>
                    </div>
                  </ion-col>
                  <ion-col size="2" class="m-1-vertical">{{item.road.seat_number}}</ion-col>
                  <ion-col size="8" class="m-1-vertical" style="border-left: 2px solid #d8d8d8;">
                    {{item.utilizers[0].first_name}} {{item.utilizers[0].last_name}}
                  </ion-col>
                </ion-row>
              <ng-container *ngIf="selectedSale?.payments[0].statuses[0].status == 'Confirmado' || selectedSale?.payments[0].statuses[0].status == 'Aprovado'">
                <ion-row *ngIf="!showQRCode" class="ion-justify-content-center">
                  <ion-col size="4" *ngIf="compareDate(item.road.datetime_departure, 'monitorar').daysDiff == 1 || compareDate(item.road.datetime_departure, 'monitorar').daysDiff == 0 || compareDate(item.road.datetime_departure, 'monitorar').daysDiff == -1">
                    <ion-button expand="block" fill="clear" shape="round" (click)="monitorarViagem(item.road.line.code)">
                      <svg height="24" width="24">
                        <path d="m19.65 8.4.75-.75-1.9-1.85V3h-1v3.2ZM6.5 17q.625 0 1.062-.438Q8 16.125 8 15.5t-.438-1.062Q7.125 14 6.5 14t-1.062.438Q5 14.875 5 15.5t.438 1.062Q5.875 17 6.5 17Zm7 0q.625 0 1.062-.438Q15 16.125 15 15.5t-.438-1.062Q14.125 14 13.5 14t-1.062.438Q12 14.875 12 15.5t.438 1.062Q12.875 17 13.5 17ZM4 22q-.425 0-.712-.288Q3 21.425 3 21v-2.05q-.45-.5-.725-1.113Q2 17.225 2 16.5V7q0-.75.288-1.513.287-.762 1.274-1.362.988-.6 2.913-.913Q8.4 2.9 11.65 3.05q-.2.475-.338.962-.137.488-.212.988-2.8-.075-4.425.2T4.45 6H11q0 .5.075 1t.225 1H4v3h9.1q.95.95 2.212 1.475Q16.575 13 18 13v3.5q0 .725-.275 1.337-.275.613-.725 1.113V21q0 .425-.288.712Q16.425 22 16 22h-1q-.425 0-.712-.288Q14 21.425 14 21v-1H6v1q0 .425-.287.712Q5.425 22 5 22Zm10-9H4h12-2Zm4-2q-2.075 0-3.537-1.463Q13 8.075 13 6t1.463-3.538Q15.925 1 18 1t3.538 1.462Q23 3.925 23 6q0 2.075-1.462 3.537Q20.075 11 18 11ZM6 18h8q.825 0 1.413-.587Q16 16.825 16 16v-3H4v3q0 .825.588 1.413Q5.175 18 6 18Zm5-12H4.45 11Z" fill="var(--ion-color-primary)"/>
                      </svg>
                    </ion-button>
                  </ion-col>
                  <ion-col size="4" *ngIf="compareDate(item.road.datetime_departure, 'qrcode').daysDiff <= 1">
                    <ion-button expand="block" fill="clear" shape="round" (click)="showQRCode = true">
                      <svg height="24" width="24">
                        <path d="M4 22v-6h3v6Zm5 0V10.1q-1.25.425-1.625 1.562Q7 12.8 7 14H5q0-3.2 1.875-5.1Q8.75 7 12 7q2.5 0 3.75-1.238Q17 4.525 17 2h2q0 2.2-.938 3.938Q17.125 7.675 15 8.4V22h-2v-6h-2v6Zm3-16q-.825 0-1.412-.588Q10 4.825 10 4t.588-1.413Q11.175 2 12 2t1.413.587Q14 3.175 14 4q0 .825-.587 1.412Q12.825 6 12 6Z" fill="var(--ion-color-primary)"/>
                      </svg>
                    </ion-button>
                  </ion-col>
                  <ion-col size="4" *ngIf="compareDate(item.road.datetime_departure, 'bpe').daysDiff <= 1 && !compareDate(item.road.datetime_departure, 'bpe').passTripDay">
                    <ion-button expand="block" fill="clear" shape="round" (click)="showBpe(selectedSale, item)">
                      <svg height="24" width="24">
                        <path d="M6 22q-1.25 0-2.125-.875T3 19v-3h3V2l1.5 1.5L9 2l1.5 1.5L12 2l1.5 1.5L15 2l1.5 1.5L18 2l1.5 1.5L21 2v17q0 1.25-.875 2.125T18 22Zm12-2q.425 0 .712-.288Q19 19.425 19 19V5H8v11h9v3q0 .425.288.712.287.288.712.288ZM9 9V7h6v2Zm0 3v-2h6v2Zm8-3q-.425 0-.712-.288Q16 8.425 16 8t.288-.713Q16.575 7 17 7t.712.287Q18 7.575 18 8t-.288.712Q17.425 9 17 9Zm0 3q-.425 0-.712-.288Q16 11.425 16 11t.288-.713Q16.575 10 17 10t.712.287Q18 10.575 18 11t-.288.712Q17.425 12 17 12ZM6 20h9v-2H5v1q0 .425.287.712Q5.575 20 6 20Zm-1 0v-2 2Z" fill="var(--ion-color-primary"/>
                    </svg>
                    </ion-button>
                  </ion-col>
                  <ion-col size="4" *ngIf="compareDate(item.road.datetime_departure, 'cancel').daysDiff <= 1 && !compareDate(item.road.datetime_departure, 'cancel').passTripDay">
                    <ion-button expand="block" fill="clear" shape="round" (click)="cancelTrip(item.key)">
                      <svg id="icon" height="24" width="24">
                        <path d="M16.55 22.5 13 18.95l1.4-1.4 2.125 2.125 4.25-4.25 1.4 1.425ZM7.4 17 6 15.6 7.6 14 6 12.4 7.4 11 9 12.6l1.6-1.6 1.4 1.4-1.6 1.6 1.6 1.6-1.4 1.4L9 15.4ZM5 22q-.825 0-1.413-.587Q3 20.825 3 20V6q0-.825.587-1.412Q4.175 4 5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588Q21 5.175 21 6v6.35l-2 2.025V10H5v10h6.25l1.975 2ZM5 8h14V6H5Zm0 0V6v2Z" fill="var(--ion-color-primary)"/>
                      </svg>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ng-container>
              </div>
              <!-- QR CODE -->
            <ng-container *ngIf="selectedSale?.payments[0].statuses[0].status == 'Confirmado' || selectedSale?.payments[0].statuses[0].status == 'Aprovado'">
              <div id="qr-code" *ngIf="showQRCode">
                <ion-row style="margin-top: 1rem;">
                  <ion-col size="12" class="ion-text-center">
                    <qrcode id="qr-code" [qrdata]="item.road.electronic_boarding.qrcode_bpe" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-button *ngIf="showQRCode" (click)="showQRCode = false" expand="block" fill="clear" shape="round" style="font-size: .7rem; white-space: normal;">
                      <ion-icon slot="start" name="chevron-back-outline"></ion-icon> Recolher QR
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
            </ng-container>
            </ion-slide>
          </ion-slides>
      <!-- ngfor end -->
      </ion-card-content>
    </ion-card>
    <ng-container  *ngIf="selectedSale?.payments[0].statuses[0] == 'Pendente'">
      <ion-row class="p-2-horizontal">
        <ion-col size="12">
          <ion-button color="primary" fill="outline" expand="block" (click)="goToCheckout()">
            Efetuar o pagamento
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
    <div id="infos" *ngIf="selectedSale" style="margin-top: 2rem; width:100%; text-align: center; bottom:2rem;">
      <ion-row>
        <ion-col id="buy-date" size="12" style="text-align: center; font-size: .7rem">
          Compra realizada em: {{selectedSale?.created_at.substr(8,2)}}/{{selectedSale?.created_at.substr(5,2)}}/{{selectedSale?.created_at.substr(0,4)}} às {{selectedSale?.created_at.substr(11,8)}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Valor total da compra: <b>{{selectedSale?.amount | currency:'BRL'}}</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="selectedSale?.payments.length > 0">
          Transação realizada com
          <span *ngIf="selectedSale?.payments[0].type == 'credit_card'">
            <b>cartão de {{selectedSale.payments[0].item.operation_type.toLowerCase()}}</b> ({{selectedSale.payments[0].item.card_flag}}) - <b>Aut. {{selectedSale.payments[0].item.authorization}}</b>
          </span>
          <span *ngIf="selectedSale?.payments[0].type == 'PIX' || selectedSale?.payments[0].type == 'pix'">
            PIX <b>ID {{selectedSale.payments[0].statuses[0].id}}</b>
          </span>
        </ion-col>
        <ion-col size="12" *ngIf="selectedSale?.payments[0].statuses[0].status == 'Pendente'">
          Transação <b>PENDENTE DE PAGAMENTO</b>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
