<app-header [backButton]="true" title="Cartões"></app-header>
<ion-content>
  <div id="content">
    <div id="lista-cartoes" *ngIf="!showNewCard" style="margin-top: 1rem;">
      <ion-row *ngFor="let card of listCards">
        <ion-col size="12">
          <ion-item-sliding #slidingItem>
            <ion-item class="p-2-horizontal">
              <ion-icon slot="start" name="card-outline" color="{{card.active == 1 ? 'tertiary' : ''}}"></ion-icon>
              <ion-label>
                <p>{{card.card_number}}</p>
                <p>{{card.name}}</p>
                <p>{{card.flag}}</p>
              </ion-label>
              <ion-label slot="end" (click)="showDetails(slidingItem)" style="color: var(--ion-color-tertiary); font-size: .7rem;">
                Detalhes
              </ion-label>
            </ion-item>
            <ion-item-options side="end" expandable>
              <ion-item-option color="danger" (click)="excluirCard(card.card_id)">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                Excluir
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </div>

    <div id="novo-cartao" *ngIf="showNewCard" style="margin-top: 1rem;" class="p-2-horizontal">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          Novo cartão
        </ion-col>
      </ion-row>
      <!-- Cartão de crédito virtual -->
      <ion-row class="credit-card rounded p-2 m-2-vertical">
        <ion-col size="12">
          <h4>Cartão de Crédito</h4>
        </ion-col>
        <!-- Nome do Dono -->
        <ion-row>
          <ion-col size="12" style="margin-top: 1rem; font-weight: bold;" class="ion-text-uppercase">{{textName}}</ion-col>
        </ion-row>
        <!-- Dados do Cartão -->
        <ion-col size="12" style="margin-top: 1rem; font-size: 1.2rem;" style="margin-bottom: 1rem;">
          {{textCardNumber || '---- ---- ---- ----'}}
        </ion-col>
        <!-- Bandeira -->
        <ion-col size="4">
          {{textCVV}}
        </ion-col>
        <ion-col size="6">
          {{realValidity}}
        </ion-col>
        <ion-col size="2" class="credit-flag" style="text-align: right;">
          <img src="assets/imgs/cards/{{creditFlag}}.png" *ngIf="creditFlag !== 'selecione'">
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: .5rem;">
        <ion-col size="12">
          <ion-item mode="md">
            <ion-icon name="card-outline" slot="start"></ion-icon>
            <ion-label position="floating">Número do Cartão</ion-label>
            <ion-input inputmode="numeric" color="tertiary" maxlength="19" [(ngModel)]="textCardNumber" (ionBlur)="autoFlag()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item mode="md">
            <ion-icon name="keypad-outline" slot="start"></ion-icon>
            <ion-label position="floating">CVV</ion-label>
            <ion-input color="tertiary" inputmode="numeric" maxlength="3" [(ngModel)]="textCVV"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item mode="md">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label position="floating">Validade</ion-label>
            <ion-datetime (ionBlur)="data()" color="tertiary" [min]="dateNow.getFullYear()" [max]="dateNow.getFullYear() + 30" cancelText="Cancelar" doneText="Feito" displayFormat="MM/YYYY" pickerFormat="MM/YYYY" maxlength="7" placeholder="MM/AAAA" [(ngModel)]="textValidity"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(this.textCardNumber !== '' || this.textCardNumber !== undefined) && this.creditFlag == 'selecione'">
        <ion-col size="12">
          <ion-item mode="md">
            <ion-icon name="flag-outline" slot="start"></ion-icon>
            <ion-label position="floating">Bandeira do Cartão</ion-label>
            <ion-select color="tertiary" [(ngModel)]="this.creditFlag">
              <ion-select-option *ngFor="let flag of manualFlags" [value]="flag.val">{{flag.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label position="floating">Nome Impresso no Cartão</ion-label>
            <ion-input color="tertiary" inputmode="text" maxlength="50" inputmode="text" [(ngModel)]="textName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-icon name="id-card-outline" slot="start"></ion-icon>
            <ion-label position="floating">CPF ou CNPJ</ion-label>
            <ion-input inputmode="numeric"color="tertiary" maxlength="50" [(ngModel)]="textCpfCnpj"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input inputmode="tel" color="tertiary" maxlength="16" [(ngModel)]="textPhone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-datetime color="tertiary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="textBirthDate" cancelText="Cancelar" doneText="Feito" [min]="dateNow.getFullYear() - 120" [max]="dateNow.getFullYear()"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Relacionado ao endereço -->
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-checkbox slot="start" color="primary" type="text" [(ngModel)]="useMyDefaultAddress"></ion-checkbox>
            <ion-label style="white-space: normal;">Usar meu endereço padrão neste cartão</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <div id="div-endereco" *ngIf="!useMyDefaultAddress">
        <ion-row style="margin-top: 1rem;">
          <ion-col size="12" class="ion-text-center">
            Endereço do Dono do Cartão
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">CEP</ion-label>
              <ion-input #cepInput color="tertiary" type="number" [(ngModel)]="textZipCode" (ionBlur)="consultaCEP()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">Endereço</ion-label>
              <ion-input color="tertiary" type="text" [(ngModel)]="textAddress"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">Número</ion-label>
              <ion-input color="tertiary" type="number" [(ngModel)]="textNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">Complemento</ion-label>
              <ion-input color="tertiary" type="text" [(ngModel)]="textComplement"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">Bairro</ion-label>
              <ion-input color="tertiary" type="text" [(ngModel)]="textNeighborhood"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">Cidade</ion-label>
              <ion-input color="tertiary" type="text" [(ngModel)]="textCity"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">UF</ion-label>
              <ion-input color="tertiary" type="text" maxlength="2" [(ngModel)]="textUF" style="text-transform: uppercase"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item mode="md">
              <ion-label position="floating">País</ion-label>
              <ion-select color="tertiary" [(ngModel)]="textCountry">
                <ion-select-option *ngFor="let item of listCountries">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-checkbox slot="start" color="primary" type="text" [(ngModel)]="boolActive"></ion-checkbox>
            <ion-label style="white-space: normal;">Tornar este cartão, meu principal</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" size="block" (click)="cadastrarCartao()">Cadastrar Cartão</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div id="sem-items" *ngIf="listCards.length == 0 && !showNewCard" class="ion-justify-content-center p-2-horizontal" style="margin-top: 2rem;">
      <h5 class="ion-text-center">Cadastre aqui seu cartão para aproveitar nossas facilidades</h5>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="{{!showNewCard ? 'tertiary' : 'secondary'}}" mode="ios" (click)="toggleNewCard()">
      <ion-icon name="add-outline" *ngIf="!showNewCard"></ion-icon>
      <ion-icon name="close-outline" *ngIf="showNewCard"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
