<app-header [closeButton]="true" title="Meu carrinho"></app-header>

<ion-content>
  <div id="content">
    <ion-item-sliding *ngFor="let item of cartService.items; let i = index" animateItemSliding #itemSliding>
      <ion-item>
        <ion-card style="width: 95% !important">
          <ion-card-header>
            <ion-card-subtitle>{{item.tripInfo.tripSectionals.from.description}}, {{item.tripInfo.tripSectionals.from.uf_acronym}} - {{item.tripInfo.tripSectionals.to.description}}, {{item.tripInfo.tripSectionals.to.uf_acronym}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row style="font-size: .7rem">
              <ion-col size="12">
                Data ida: {{dateTreat(item.tripInfo.tripDates.ida)}} às {{item.tripInfo.tripDates.idaHorario}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <div class="p-3-horizontal">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M5.35,5.64C4.45,5 4.23,3.76 4.86,2.85C5.5,1.95 6.74,1.73 7.65,2.36C8.55,3 8.77,4.24 8.14,5.15C7.5,6.05 6.26,6.27 5.35,5.64M16,19H8.93C7.45,19 6.19,17.92 5.97,16.46L4,7H2L4,16.76C4.37,19.2 6.47,21 8.94,21H16M16.23,15H11.35L10.32,10.9C11.9,11.79 13.6,12.44 15.47,12.12V10C13.84,10.3 12.03,9.72 10.78,8.74L9.14,7.47C8.91,7.29 8.65,7.17 8.38,7.09C8.06,7 7.72,6.97 7.39,7.03H7.37C6.14,7.25 5.32,8.42 5.53,9.64L6.88,15.56C7.16,17 8.39,18 9.83,18H16.68L20.5,21L22,19.5" />
                    </svg>
                  </div>
                  <ion-label>
                    <p style="font-weight: bold;">{{item.tripInfo.seatInfo.number}} - {{item.tripInfo.seatInfo.category}}</p>
                    <p style="font-size: .7rem; margin-top: .5rem; text-transform: uppercase" *ngIf="item.tripInfo.seatInfo.utilizer">{{item.tripInfo.seatInfo.utilizer.first_name + ' ' + item.tripInfo.seatInfo.utilizer.last_name}}</p>
                    <p style="text-align: right; font-weight: bold; margin-top: .5rem; text-transform: uppercase">{{item.tripInfo.seatInfo.amount | currency:'BRL'}}</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="item.tripInfo.tripDates.volta !== undefined && this.cartService.items.length <= 1">
              <ion-col size="12">
                <ion-button color="tertiary" expand="block" (click)="selectReturnTrip(item)">Escolher viagem de volta</ion-button>
              </ion-col>
            </ion-row>
            <ion-label slot="end" (click)="removerItem(item, i)" style="color: var(--ion-color-danger); font-size: .7rem; margin-top: .2rem;">
              Remover do carrinho
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>


    <div id="sem-items" *ngIf="cartService.items.length == 0" class="ion-justify-content-center p-2-horizontal" style="margin-top: 2rem;">
      <h5 class="ion-text-center">Parece que você não tem passagens em seu carrinho.</h5>
    </div>
    <div id="total" class="p-4-horizontal" *ngIf="total > 0" style="width: 100%; margin-bottom: 1rem;">
      <h5 style="text-align: right">Subtotal: {{total | currency:'BRL'}}</h5>
    </div>
  </div>
</ion-content>

<ion-footer  class="ion-no-border" *ngIf="total > 0">
  <ion-toolbar class="p-1-horizontal">
    <ion-button color="primary" fill="clear" size="small" slot="end" (click)="efetuarPgto()">
      Continuar para pagamento
      <i class="las la-chevron-circle-right p-2-horizontal"></i>
    </ion-button>
  </ion-toolbar>
</ion-footer>
