<app-header [backButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <div id="pessoa-assento" class="p-2-horizontal" mode="md">
    <ion-card style="font-size: .8rem;">
      <ion-card-header>
        <ion-card-title>Assento {{seatNumber}}</ion-card-title>
        <ion-card-subtitle>Tipo do assento: {{seatType}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-checkbox mode="md" color="tertiary" slot="start" [(ngModel)]="seatOwnerItsMe" (ionChange)="mySeatClick()"></ion-checkbox>
          <ion-label>Este assento é meu</ion-label>
        </ion-item>

        <ng-container>
          <ion-row *ngIf="!seatOwnerItsMe">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label position="floating">Nome</ion-label>
                <ion-input color="tertiary" inputmode="text" maxlength="50" [(ngModel)]="seatOwnerFirstName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!seatOwnerItsMe">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label position="floating">Sobrenome</ion-label>
                <ion-input color="tertiary" inputmode="text" maxlength="50" [(ngModel)]="seatOwnerLastName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!seatOwnerItsMe">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="apps-outline" slot="start"></ion-icon>
                <ion-label position="floating">CPF</ion-label>
                <ion-input color="tertiary" inputmode="number" maxlength="14" [(ngModel)]="seatOwnerCPF"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!seatOwnerItsMe">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                <ion-label position="floating">Data de Nascimento</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" (ionChange)="dateBirth($event)" cancelText="Cancelar" doneText="Feito" min="1920" [max]="maxYear" [(ngModel)]="seatOwnerBirth"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!seatOwnerItsMe">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label position="floating">Documento</ion-label>
                <ion-select color="tertiary" [(ngModel)]="seatOwnerDocumentType">
                  <ion-select-option value="rg">RG</ion-select-option>
                  <ion-select-option value="cnh">CNH</ion-select-option>
                  <ion-select-option value="ctps">CTPS</ion-select-option>
                  <ion-select-option value="passaporte">Passaporte</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!seatOwnerItsMe">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-label position="floating">Nº Documento</ion-label>
                <ion-input color="tertiary" inputmode="number" [(ngModel)]="seatOwnerRGNumber"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="transgender-outline" slot="start"></ion-icon>
                <ion-label position="floating">Gênero</ion-label>
                <ion-select color="tertiary" [(ngModel)]="seatOwnerGender" (ionChange)="womanTest()">
                  <ion-select-option value="Feminino">Feminino</ion-select-option>
                  <ion-select-option value="Masculino">Masculino</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="globe-outline" slot="start"></ion-icon>
                <ion-label position="floating">DDI</ion-label>
                <ion-input color="tertiary" inputmode="number" mask="+00" maxlength="3" [(ngModel)]="seatOwnerLocateCountryId"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="call-outline" slot="start"></ion-icon>
                <ion-label position="floating">Telefone</ion-label>
                <ion-input color="tertiary" inputmode="number" mask="(00) 0 0000-0000" maxlength="16" [(ngModel)]="seatOwnerPhone"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer  class="ion-no-border">
    <ion-toolbar class="p-1-horizontal">
      <ion-button color="primary" fill="clear" size="small" slot="end" (click)="concluir()">
        Confirmar
        <i class="las la-chevron-circle-right p-2-horizontal"></i>
      </ion-button>
    </ion-toolbar>
</ion-footer>
