<app-header [backButton]="true"></app-header>

<ion-content>
  <ion-card class="p-2-horizontal" *ngIf="this.travelKey !== '0101'">
    <ion-row>
      <ion-col size="5" class="ion-text-center">
        <ion-card-subtitle style="font-size: .7rem; text-align: left;">{{this.tripData.tripSectionals.from.description}} - {{this.tripData.tripSectionals.from.uf_acronym}}</ion-card-subtitle>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="chevron-forward-outline" color="tertiary"></ion-icon>
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <ion-card-subtitle style="font-size: .7rem; text-align: right;">{{this.tripData.tripSectionals.to.description}} - {{this.tripData.tripSectionals.to.uf_acronym}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-card-subtitle style="font-size: .7rem;">{{dateFormatter(this.tripData.tripDates.ida)}} - {{this.tripData.tripDates.idaHorario}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card>

  <div id="mapa-onibus" class="border rounded m-2 p-5-vertical">
    <!-- Volante do Ônibus e Informação de assentos livres -->
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <img src="https://res.cloudinary.com/eumais/image/upload/v1568745966/icons/steering-wheel.png" style="transform: rotate(90deg); margin: 1rem 0;">
      </ion-col>
      <ion-col size="9" class="ion-text-right subheader-bus" *ngIf="seatingMapReturned.free_seats">
        <b>Assentos Livres:</b> {{seatingMapReturned.free_seats}}
      </ion-col>
    </ion-row>

    <!-- Segmento de escolha de andar -->
    <ion-row>
      <ion-col size="12">
        <ion-segment mode="md" (ionChange)="floorSegment($event)" *ngIf="seatingMapReturned.floor_2" [(ngModel)]="floorSelected">
          <ion-segment-button value="1">
            <ion-label>1º Andar</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>2º Andar</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-grid style="--ion-grid-columns: 5">
      <ion-row *ngIf="floorSelected == 1">
        <ng-container *ngFor="let seat of seatingMapReturned.floor_1; let i = index;">
          <ion-col class="ion-text-center border rounded"
            style="min-height: 15vh; min-width: 17vw; max-width: 17vw; margin-bottom: .7rem; margin-left: .3rem;"
            [ngClass]="{'woman-space': seat.woman_space, 'busy': seat.busy == true, 'selected': seat.isSelected == true}"
            (click)="selectSeat(seat)">
            <ng-container *ngIf="!seat.busy">
              <div id="infos-assentos">
                <span style="font-size: .57rem; color: rgba(214, 78, 185, 0.5); font-weight: bold;"
                  *ngIf="seat.woman_space">Espaço Mulher</span><br>
                <span style="font-size: .57rem;">{{seat.category}}</span><br>
                <span style="font-size: .67rem;"><b>{{seat.amount | currency: 'BRL'}}</b></span>
              </div>
              <div class="seat-number">{{seat.number}}</div>
            </ng-container>
            <ng-container *ngIf="seat.busy">
              <div id="info-assento-ocupado">
                <span style="font-size: .6rem;" class="m-auto">Ocupado</span>
              </div>
            </ng-container>
          </ion-col>

          <!-- executivo -->
          <ng-container *ngIf="seat.category !== 'SEMI LEITO' && seat.category !== 'LEITO'">
            <!-- corredor -->
            <ion-col size="1"
              *ngIf="i == 1 || i == 5 || i == 9 || i == 13 || i == 17 || i == 21 || i == 25 || i == 29 || i == 33 || i == 37 || i == 41 || i == 45">
            </ion-col>
            <!-- banheiro -->
            <ion-col size="2" *ngIf="i == 47" class="ion-text-center m-auto"></ion-col>
          </ng-container>

          <!-- semi leito -->
          <ng-container *ngIf="seat.category == 'SEMI LEITO'">
            <!-- corredor -->
            <ion-col size="1"
              *ngIf="i == 1 || i == 5 || i == 9 || i == 13 || i == 15 || i == 19 || i == 23 || i == 27 || i == 31 || i == 35 || i == 39 || i == 43">
            </ion-col>
            <!-- banheiro -->
            <ion-col size="2" *ngIf="i == 47" class="ion-text-center m-auto"></ion-col>
            <!-- escadas -->
            <ion-col size="2" *ngIf="i == 13" class="ion-text-center m-auto"></ion-col>
          </ng-container>
          <ng-container *ngIf="seat.category == 'LEITO'">
            <!-- corredor -->
            <ion-col size="2"
              *ngIf="i == 1 || i == 4 || i == 7 || i == 13 || i == 17 || i == 21 || i == 25 || i == 29 || i == 33 || i == 37 || i == 41">
            </ion-col>
            <!-- banheiro -->
            <ion-col size="2" *ngIf="i == 41" class="ion-text-center m-auto" style="font-size: .7rem;"></ion-col>
          </ng-container>
        </ng-container>
      </ion-row>
      <ion-row *ngIf="floorSelected == 2">
        <ng-container *ngFor="let seat of seatingMapReturned.floor_2; let i = index;">
          <ion-col class="ion-text-center border rounded" style="min-height: 15vh; min-width: 17vw; max-width: 17vw; margin-bottom: .7rem; margin-left: .3rem;" [ngClass]="{'woman-space': seat.woman_space, 'busy': seat.busy == true, 'selected': seat.isSelected == true}" (click)="selectSeat(seat)">
            <ng-container *ngIf="!seat.busy">
              <div id="infos-assentos">
                <span style="font-size: .57rem; color: rgba(214, 78, 185, 0.5); font-weight: bold;" *ngIf="seat.woman_space">Espaço Mulher</span><br>
                <span style="font-size: .57rem;">{{seat.category}}</span><br>
                <span style="font-size: .67rem;"><b>{{seat.amount | currency: 'BRL'}}</b></span>
              </div>
              <div class="seat-number">{{seat.number}}</div>
            </ng-container>
            <ng-container *ngIf="seat.busy">
              <div id="info-assento-ocupado">
                <span style="font-size: .6rem;" class="m-auto">Ocupado</span>
              </div>
            </ng-container>
          </ion-col>

          <!-- executivo -->
          <ng-container *ngIf="seat.category !== 'SEMI LEITO' && seat.category !== 'LEITO'">
            <!-- corredor -->
            <ion-col size="1" *ngIf="i == 1 || i == 5 || i == 9 || i == 13 || i == 17 || i == 21 || i == 25 || i == 29 || i == 33 || i == 37 || i == 41 || i == 45"></ion-col>
            <!-- banheiro -->
            <ion-col size="2" *ngIf="i == 47" class="ion-text-center m-auto"></ion-col>
          </ng-container>

          <!-- semi leito -->
          <ng-container *ngIf="seat.category == 'SEMI LEITO'">
            <!-- corredor -->
            <ion-col size="1" *ngIf="i == 1 || i == 5 || i == 9 || i == 13 || i == 15 || i == 19 || i == 23 || i == 27 || i == 31 || i == 35 || i == 39 || i == 43"></ion-col>
            <!-- banheiro -->
            <ion-col size="2" *ngIf="i == 47" class="ion-text-center m-auto"></ion-col>
            <!-- escadas -->
            <ion-col size="2" *ngIf="i == 13" class="ion-text-center m-auto"></ion-col>
          </ng-container>
          <!-- banheiro -->

        </ng-container>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
<ion-footer *ngIf="selectedSeats > 0" class="ion-no-border">
  <ion-toolbar class="p-1-horizontal">
    <ion-label slot="start" style="font-size: .7rem;">
      Assentos selecionados: {{selectedSeats}}/{{seatsToSelect}}
    </ion-label>
    <ion-button color="primary" fill="clear" size="small" slot="end" *ngIf="selectedSeats == seatsToSelect" (click)="goToPersonToSeat()">
      Prosseguir
      <i class="las la-chevron-circle-right p-2-horizontal"></i>
    </ion-button>
  </ion-toolbar>
</ion-footer>
