.subheader-bus {
    font-size: .7rem;
}

.seat-number {
    position: absolute;
    bottom: -5px;
    left: 5%;
    width: 90%;
    border-radius: 6px;
    background: #d3482c;
    color: white;
}

#infos-assentos {
    margin-top: -15px;
    margin-bottom: 10px;
}

#info-assento-ocupado {
  margin-top: 0px;
}

.woman-space {
  padding-top: 1rem;
}

.busy {
    background: rgb(233, 233, 233);
}

.selected {
    background: #56f887;
}
