<ion-content [fullscreen]="true">
    <div id="logo-box">
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <img src="/assets/imgs/nova-logo-eumais.png" width="100">
            </ion-col>
        </ion-row>
    </div>
    <div id="texto-login" class="p-3-horizontal">
        <ion-row>
            <ion-col size="12" class="ion-text-center cursive">
                Encontre viagens econômicas e flexíveis
            </ion-col>
        </ion-row>
    </div>
    <div id="login-box" class="p-2-horizontal" mode="md">
        <ion-row>
            <ion-col size="12">
                <ion-item class="input-box" lines="none">
                    <ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
                    <ion-label position="floating" color="dark"><b>E-mail</b></ion-label>
                    <ion-input type="email"></ion-input>
                  </ion-item>
            </ion-col>
        </ion-row>     
        <ion-row>
            <ion-col size="12">
                <ion-item class="input-box" lines="none">
                    <ion-icon name="finger-print-outline" color="primary" slot="start"></ion-icon>
                    <ion-label position="floating" color="dark"><b>Senha</b></ion-label>
                    <ion-input type="password"></ion-input>                   
                  </ion-item>
            </ion-col>
        </ion-row>   
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-button color="light" (click)="login()">
                    <i class="las la-sign-in-alt icon"></i>
                    Entrar
                </ion-button>
            </ion-col>
        </ion-row>
    </div>

    <div id="new-user-box" class="p-1-horizontal">
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                Não possui uma conta?
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-title color="light">Criar nova conta</ion-title>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
