ion-content {
    --background: rgb(216,22,68);
    --background: linear-gradient(185deg, rgba(216,22,68,1) 0%, rgba(249,73,53,1) 100%);
}

#logo-box {
    margin-top: 1rem;
}

.cursive {
    font-family: 'Yellowtail', cursive;
}

#texto-login {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--ion-color-light);
}

#login-box {
    margin-top: 3rem;
}

.icon {
    padding: 0 .25rem;
    font-size: 1.2rem;
}

#new-user-box {
    margin-top: 6rem;
}