<app-header [backButton]="true" [userButton]="false" [cartButton]="false"></app-header>

<ion-content>
  <div id="map" #map></div>
  <div id="realtime-data">
    <ion-card-subtitle class="ion-text-center" *ngIf="!realtimeData"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-card-subtitle>
    <p style="font-size: .7rem; width: 100%; text-align: center;" *ngIf="!realtimeData"><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
    <p style="font-size: .7rem; width: 100%; text-align: center;" *ngIf="!realtimeData"><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
    <ion-card-subtitle class="ion-text-center" *ngIf="realtimeData">{{realtimeData.descricaoLinha}}</ion-card-subtitle>
    <p style="font-size: .7rem; width: 100%; text-align: center;" *ngIf="realtimeData">Ônibus a caminho: {{realtimeData.ordem}}</p>
    <p style="font-size: .7rem; width: 100%; text-align: center;" *ngIf="realtimeData">Última atualização em: {{dateFormatter(realtimeData.dataHora)}}</p>
  </div>

</ion-content>
