#map {
  position: absolute;
  z-index: 1;
  height: 80%;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}

#realtime-data {
  z-index: 999;
  position: absolute;
  margin: .5rem;
  width: 95%;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.21);
}
