#container a {
  text-decoration: none;
}

#aviso {
  margin-top: .5rem;
  font-size: .72rem;
  text-align: center;
  font-weight: 600;
  color: #bbbaba;
}

#consultar-viagem {
  margin-top: .1rem;
}

.icon-add {
  font-size: 1.25rem;
  color: rgb(88, 146, 88);
}

.icon-remove{
  font-size: 1.25rem;
  color: rgb(201, 94, 90);
}

#ajuda {
  margin-top: 1.5rem;
  font-size: .8rem;
}

.icon-ajuda {
  font-size: 2rem;
  color: var(--ion-color-tertiary);
}

#lista-partida {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

#lista-destino {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}