
<app-header [backButton]="false" [userButton]="true" [cartButton]="true"></app-header>
<ion-content >
  <div id="aviso" class="p-1-horizontal" *ngIf="!user.userData">
    <ion-row class="border rounded">
      <ion-col size="12" class="p-2-horizontal" routerLink="/perfil">
        <p>Identifique-se para uma melhor experiência</p>
      </ion-col>
    </ion-row>
  </div>

  <!-- Se não tiver nenhuma viagem já selecionada -->
  <!-- <ng-container *ngIf="tripData.tripHash == undefined || tripData.tripSeatsSelecteds.length < 1"> -->
    <div id="consultar-viagem" class="p-1-horizontal" mode="md">
      <ion-row>
        <ion-col size="12">
          <ion-item class="input-box" lines="none">
            <ion-icon name="navigate-circle-outline" color="tertiary" slot="start"></ion-icon>
            <ion-label position="floating" color="dark"><b>Partida</b></ion-label>
            <ion-input #inputPartida type="text" (click)="toggleListaPartida()" value="{{this.sectionalsSelected.from ? this.sectionalsSelected.from.description + ' - '+ this.sectionalsSelected.from.uf_acronym  : ''}}" [(ngModel)]="fieldPartida" (ionChange)="onSearchPartida()"></ion-input>
            <ion-icon slot="end" name="close-outline" class="m-3-vertical" *ngIf="showListaPartida" (click)="toggleListaPartida()"></ion-icon>
          </ion-item>
          <div id="lista-partida" *ngIf="showListaPartida">
            <ion-list>
              <ion-item *ngFor="let sec of sectionalsPartida; let i = index;" (click)="selectPartida(sec)">
                <ion-label> {{sec.description}} - {{sec.uf_acronym}}</ion-label>
              </ion-item>
              <ion-item *ngIf="sectionalsPartida.length < 1">
                <ion-label>Não existem resultados para sua pesquisa</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="input-box" lines="none">
            <ion-icon name="pin-outline" color="tertiary" slot="start"></ion-icon>
            <ion-label position="floating" color="dark"><b>Destino</b></ion-label>
            <ion-input #inputDestino type="text" (click)="toggleListaDestino()" value="{{this.sectionalsSelected.to ? this.sectionalsSelected.to.description + ' - '+ this.sectionalsSelected.to.uf_acronym  : ''}}" [(ngModel)]="fieldDestino" (ionChange)="onSearchDestino()"></ion-input>
            <ion-icon slot="end" name="close-outline" class="m-3-vertical" *ngIf="showListaDestino" (click)="toggleListaDestino()"></ion-icon>
          </ion-item>
          <div id="lista-destino" *ngIf="showListaDestino">
            <ion-list>
              <ion-item *ngFor="let sec of sectionalsDestino" (click)="selectDestino(sec)">
                <ion-label> {{sec.description}} - {{sec.uf_acronym}}</ion-label>
              </ion-item>
              <ion-item *ngIf="sectionalsDestino.length < 1">
                <ion-label>Não existem resultados para sua pesquisa</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div id="quando-viagem" class="p-1-horizontal">
      <ion-segment (ionChange)="segmentChanged($event)" mode="ios" color="primary" style="height: 60px;" value="2">
        <ion-segment-button value="1">
          <ion-label>Somente Ida</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Ida e Volta</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div id="data-viagem" class="p-1-horizontal" mode="md">
      <ion-row *ngIf="segmentValue == 1">
        <ion-col size="7" (click)="toggleCalendarIda()">
          <ion-item class="input-box">
            <ion-icon name="calendar-outline" color="tertiary" slot="start"></ion-icon>
            <ion-label position="fixed" color="dark" *ngIf="dateRange.from == ''"><b>Data</b></ion-label>
            <ion-label position="fixed" color="dark" *ngIf="dateRange.from !== ''"><b>{{dateFormatter(dateRange.from, 'BRL')}}</b></ion-label>
            <!-- <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" (ionChange)="datetimeIda($event)" cancelText="Cancelar" doneText="Feito" min="2021" [max]="2023"></ion-datetime> -->
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item class="input-box">
            <i class="las la-minus-circle icon-remove" (click)="mngTickets('remove')"></i>
            <span style="width: 100%; text-align: center;">{{ticketsNumber}}</span>
            <i class="las la-plus-circle icon-add" (click)="mngTickets('add')"></i>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="segmentValue == 2">
        <ion-col size="6" (click)="toggleCalendarIda()">
          <ion-item class="input-box">
            <ion-icon name="calendar-outline" color="tertiary" slot="start"></ion-icon>
            <ion-label position="fixed" color="dark" *ngIf="dateRange.from == ''"><b>Ida</b></ion-label>
            <ion-label position="fixed" color="dark" *ngIf="dateRange.from !== ''"><b>{{dateFormatter(dateRange.from, 'BRL')}}</b></ion-label>
            <!-- <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" (ionChange)="datetimeIda($event)" cancelText="Cancelar" doneText="Feito" min="2021" max="2023"></ion-datetime> -->
          </ion-item>
        </ion-col>
        <ion-col size="6" (click)="toggleCalendarVolta()">
          <ion-item class="input-box">
            <ion-icon name="calendar-outline" color="tertiary" slot="start"></ion-icon>
            <ion-label position="fixed" color="dark" *ngIf="dateRange.to == ''"><b>Volta</b></ion-label>
            <ion-label position="fixed" color="dark" *ngIf="dateRange.to !== ''"><b>{{dateFormatter(dateRange.to, 'BRL')}}</b></ion-label>
            <!-- <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" (ionChange)="datetimeVolta($event)" cancelText="Cancelar" doneText="Feito"></ion-datetime> -->
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="input-box">
            <i class="las la-minus-circle icon-remove" (click)="mngTickets('remove')"></i>
            <span style="width: 100%; text-align: center;">{{ticketsNumber}} {{ticketsNumber > 1 ? 'pessoas' : 'pessoa'}}</span>
            <i class="las la-plus-circle icon-add" (click)="mngTickets('add')"></i>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="m-5-vertical">
        <ion-col size="12">
          <ion-button expand="block" color="tertiary" (click)="searchTravels()">
            <ion-icon name="search-outline" slot="start"></ion-icon>
            Pesquisar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <!-- <ion-item routerLink="/monitorar-viagem/93451">
      <ion-label> Monitoramento </ion-label>
    </ion-item> -->
 <div id="ajuda" class="p-1-horizontal">
   <ion-row>
     <ion-col size="12" class="ion-text-center">
       Como podemos lhe ajudar?
     </ion-col>
   </ion-row>
   <ion-row class="ion-justify-content-center">
     <ion-col class="p-1 border rounded ion-text-center m-1" size="4" (click)="goToPerfil()">
      <ion-row>
        <ion-col>
         <i class="las la-qrcode icon-ajuda"></i>
        </ion-col>
      </ion-row>
      <ion-row>
       <ion-col class="ion-text-uppercase">
        EMBARQUE DIGITAL
       </ion-col>
     </ion-row>
    </ion-col>
    <ion-col class="p-1 border rounded ion-text-center m-1" size="4" (click)="goToPerfil()">
      <ion-row>
        <ion-col>
         <i class="las la-bus-alt icon-ajuda"></i>
        </ion-col>
      </ion-row>
      <ion-row>
       <ion-col class="ion-text-uppercase">
        ONDE ESTÁ O ÔNIBUS
       </ion-col>
     </ion-row>
    </ion-col>
   </ion-row>
 </div>

 <div id="slider" style="margin-top: 1rem; margin-bottom: 4rem;" class="p-2-horizontal">
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let item of slideItems">
      <img [src]="item.image" (click)="openExternalLink(item.url)">
    </ion-slide>
  </ion-slides>
 </div>

  <div id="data-range" *ngIf="showCalendarIda">
    <ion-calendar [(ngModel)]="dateRange.from"
      [options]="optionsRange"
      type="string"
      [format]="'YYYY-MM-DD'">
  </ion-calendar>
  <ion-row>
    <ion-col size="12" class="ion-text-center m-vertical-3">
      <ion-button color="tertiary" (click)="selectDateIda()">Feito</ion-button>
    </ion-col>
  </ion-row>
 </div>

 <div id="data-range" *ngIf="showCalendarVolta">
  <ion-calendar [(ngModel)]="dateRange.to"
    [options]="optionsRange"
    type="string"
    [format]="'YYYY-MM-DD'">
</ion-calendar>
<ion-row>
  <ion-col size="12" class="ion-text-center m-vertical-3">
    <ion-button color="tertiary" (click)="selectDateVolta()">Feito</ion-button>
  </ion-col>
</ion-row>
</div>
</ion-content>

<app-footer></app-footer>
