<app-header [backButton]="true" title="Endereços"></app-header>
<ion-content>
  <div id="content">
    <div id="lista-enderecos" *ngIf="!showNewAddress" style="margin-top: 1rem;">
      <ion-row *ngFor="let end of listAddress">
        <ion-col size="12">
          <ion-item-sliding #slidingItem>
            <ion-item class="p-2-horizontal">
              <ion-icon slot="start" name="navigate-circle-outline" color="{{end.is_default ? 'tertiary' : ''}}"></ion-icon>
              <ion-label>
                <p>{{end.address}}, {{end.number}}</p>
                <p>{{end.neighborhood}} - {{end.city}}, {{end.uf}}</p>
              </ion-label>
              <ion-label slot="end" (click)="showDetails(slidingItem)" style="color: var(--ion-color-tertiary); font-size: .7rem;">
                Detalhes
              </ion-label>
            </ion-item>
            <ion-item-options side="end" expandable>
              <ion-item-option color="tertiary" (click)="definirPadrao(end)">
                <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
                Padrão
              </ion-item-option>
              <ion-item-option color="danger" (click)="excluirEndereco(end.id)">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                Excluir
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
        <ion-col size="12" class="ion-text-center" *ngIf="listAddress.length == 0">
          <h4>Você ainda não têm endereços cadastrados.</h4>
        </ion-col>
      </ion-row>
    </div>

    <div id="novo-endereco" *ngIf="showNewAddress" style="margin-top: 1rem;">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          Novo endereço
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: .5rem;">
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">CEP</ion-label>
            <ion-input #cepInput color="tertiary" type="number" [(ngModel)]="textCep" (ionBlur)="consultaCEP()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">Endereço</ion-label>
            <ion-input color="tertiary" type="text" [(ngModel)]="textEndereco"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">Número</ion-label>
            <ion-input color="tertiary" type="number" [(ngModel)]="textNumero"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">Complemento</ion-label>
            <ion-input color="tertiary" type="text" [(ngModel)]="textComplemento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">Bairro</ion-label>
            <ion-input color="tertiary" type="text" [(ngModel)]="textBairro"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">Cidade</ion-label>
            <ion-input color="tertiary" type="text" [(ngModel)]="textCidade"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">UF</ion-label>
            <ion-input color="tertiary" type="text" maxlength="2" [(ngModel)]="textUF" style="text-transform: uppercase"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-label position="floating">País</ion-label>
            <ion-select color="tertiary" [(ngModel)]="textPais">
              <ion-select-option *ngFor="let item of listCountries">{{item}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item mode="md">
            <ion-checkbox slot="start" color="primary" type="text" [(ngModel)]="textPadrao"></ion-checkbox>
            <ion-label>Usar este endereço como padrão?</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" size="block" (click)="cadastrarEndereco()">Cadastrar Endereço</ion-button>
        </ion-col>
      </ion-row>
    </div>



  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="{{!showNewAddress ? 'tertiary' : 'secondary'}}" mode="ios" (click)="toggleNewAddress()">
      <ion-icon name="add-outline" *ngIf="!showNewAddress"></ion-icon>
      <ion-icon name="close-outline" *ngIf="showNewAddress"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
