<app-header title="Minha viagem" [backButton]="true" [closeButton]="true">
</app-header>

<ion-content>
  <div id="content" class="p-2-horizontal">
    <!-- informações das viagens -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Sobre a viagem</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row style="font-size: .7rem">
          <ion-col size="5" class="ion-text-center">
            {{this.tripData.tripSectionals.from.description}} <br> {{this.tripData.tripSectionals.from.uf_acronym}}
          </ion-col>
          <ion-col size="2" class="ion-text-center">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-col>
          <ion-col size="5" class="ion-text-center">
            {{this.tripData.tripSectionals.to.description}} <br> {{this.tripData.tripSectionals.to.uf_acronym}}
          </ion-col>
        </ion-row>
        <ion-row style="font-size: .7rem;">
          <ion-col size="12">
            Data ida: {{dateTreat(this.tripData.tripDates.ida)}} às {{tripData.tripDates.idaHorario}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <!-- informações dos assentos -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          {{tripData.tripSeatsSelecteds == 1 ? 'Assento Selecionado' : 'Assentos Selecionados'}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row style="font-size: .8rem;">
          <ion-col size="12">
            <ion-item *ngFor="let s of tripData.tripSeatsSelecteds" (click)="selectPassenger(s)" detail>
              <div class="p-3-horizontal">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M5.35,5.64C4.45,5 4.23,3.76 4.86,2.85C5.5,1.95 6.74,1.73 7.65,2.36C8.55,3 8.77,4.24 8.14,5.15C7.5,6.05 6.26,6.27 5.35,5.64M16,19H8.93C7.45,19 6.19,17.92 5.97,16.46L4,7H2L4,16.76C4.37,19.2 6.47,21 8.94,21H16M16.23,15H11.35L10.32,10.9C11.9,11.79 13.6,12.44 15.47,12.12V10C13.84,10.3 12.03,9.72 10.78,8.74L9.14,7.47C8.91,7.29 8.65,7.17 8.38,7.09C8.06,7 7.72,6.97 7.39,7.03H7.37C6.14,7.25 5.32,8.42 5.53,9.64L6.88,15.56C7.16,17 8.39,18 9.83,18H16.68L20.5,21L22,19.5" />
                </svg>
              </div>
              <ion-label>
                <p>{{s.number}} - {{s.category}}</p>
                <p style="font-size: .7rem; margin-top: .5rem" *ngIf="!s.utilizer">Quem usará este assento?</p>
                <p style="font-size: .7rem; margin-top: .5rem; text-transform: uppercase" *ngIf="s.utilizer">{{s.utilizer.first_name + ' ' + s.utilizer.last_name}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div id="botao-reserva" class="p-2-horizontal" *ngIf="allSeatsOkay && !tripData.tripIsReserved" (click)="reservarAssentos()">
      <ion-button expand="block" color="tertiary">
        Reservar
      </ion-button>
    </div>

    <!-- Pagamento -->
    <!-- <ion-card *ngIf="allSeatsOkay">
      <ion-card-header>
        <ion-card-subtitle>Dados de Pagamento</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            Aqui vem o pagamento
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->

    <!-- Bilhetagem -->
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Meu Bilhete</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            Ação de Bilhetagem
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->

    <div id="botao-esquecer" class="p-2-horizontal" *ngIf="!tripData.tripIsReserved">
      <ion-button expand="block" color="danger" (click)="esqPlan()">
        <ion-icon name="trash-bin-outline" slot="start"></ion-icon>
        Esquecer Planejamento</ion-button>
    </div>

    <div id="botao-carrinho" class="p-2-horizontal" *ngIf="tripData.tripIsReserved && cart.items.length > 0">
      <ion-button expand="block" color="tertiary" (click)="esqPlan()">
        <ion-icon name="trash-bin-outline" slot="start"></ion-icon>
        Ver Carrinho</ion-button>
    </div>

  </div>



</ion-content>
