<app-header [backButton]="!showPixData" title="Pagamento" ></app-header>

<ion-content>
  <div id="show-pix" *ngIf="showPixData"class="p-2-horizontal">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pagamento com PIX</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let payment of pixData.continue_payments">
          <ion-row *ngFor="let tip of payment.pix.steps.tips_qrcode; let i = index;">
            <ion-col size="12">
              <strong>{{i+1}}</strong>. {{tip}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <img [src]="'data:image/png;base64,'+payment.pix.base64" width="256">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-item>
                <ion-input type="text" [value]="payment.pix.copyPaste" style="font-size: .6rem;"></ion-input>
              </ion-item>
              <ion-button expand="block" size="small" (click)="copy(payment.pix)" *ngIf="!payment.pix.copied">Aperte para copiar</ion-button>
              <span *ngIf="payment.pix.copied" style="color: var(--ion-color-tertiary)">Copiado com sucesso!</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <span *ngIf="showHint" style="white-space: normal; font-weight: bold;">Após efetuar o pagamento, aguarde alguns segundos até que seja redirecionado para sua compra</span>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="content" class="p-2-horizontal" *ngIf="!showPixData">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Valor Total</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <h2 style="font-weight: bold;">{{subtotal | currency:'BRL'}}</h2>
      </ion-card-content>
    </ion-card>

    <!-- Cartões Selecionados-->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Meios de Pagamento</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- PIX -->
        <ion-row style="margin-top: .5rem;">
          <ion-col size="12">
            <ion-item class="p-2-horizontal" lines="none">
              <div class="p-3-horizontal">
                <img src="assets/imgs/pix-icon.png">
              </div>
              <ion-label>
                <p>PIX</p>
              </ion-label>
              <ion-checkbox slot="end" [(ngModel)]="isPIXmethod" (ionChange)="pixSelected()"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let card of listCards">
          <ion-col size="12">
            <ion-item class="p-2-horizontal">
              <ion-icon slot="start" name="card-outline" color="{{card.active == 1 ? 'tertiary' : ''}}"></ion-icon>
              <ion-label>
                <p>{{card.card_number}}</p>
                <p>{{card.name}}</p>
                <p>{{card.flag}}</p>
              </ion-label>
              <ion-checkbox slot="end" [(ngModel)]="card.isSelected" (ionChange)="selectCard(card)"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Adicionar novo cartão -->
        <ion-row *ngIf="!selectedCard">
          <ion-col size="12">
            <ion-item class="p-2-horizontal" routerLink="/cartoes/true" lines="none">
              <ion-icon slot="start" name="add-outline" color="primary"></ion-icon>
              <ion-label>
                <ion-card-subtitle>novo cartão</ion-card-subtitle>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Se tiver cartão selecionado -->
        <ng-container *ngIf="selectedCard">
          <ion-row>
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="keypad-outline" slot="start"></ion-icon>
                <ion-label position="floating">CVV</ion-label>
                <ion-input color="tertiary" inputmode="numeric" maxlength="3" [(ngModel)]="textCVV"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- descomentar quando tiver débito -->
          <!-- <ion-row>
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="card-outline" slot="start"></ion-icon>
                <ion-label position="floating">Tipo</ion-label>
                <ion-select color="tertiary" [(ngModel)]="textPayType" cancelText="Cancelar">
                  <ion-select-option value="credit">Crédito</ion-select-option>
                  <ion-select-option value="debit">Débito</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row> -->
          <ion-row *ngIf="textPayType == 'credit'">
            <ion-col size="12">
              <ion-item mode="md">
                <ion-icon name="pricetags-outline" slot="start"></ion-icon>
                <ion-label position="floating">Parcelas</ion-label>
                <ion-select color="tertiary" [(ngModel)]="defaultInstallments" cancelText="Cancelar">
                  <ion-select-option *ngFor="let p of arrParcelas" [value]="p.parcelas">{{p.parcela}}x de {{p.valorParcela | currency:'BRL'}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>

      </ion-card-content>
    </ion-card>
    <div id="botao-pagar" class="p-3-horizontal">
      <ion-button (click)="efetuarPgto()" expand="block" color="tertiary" [disabled]="disablePgtoBtn">
        <ion-icon name="{{isPIXmethod ? 'arrow-forward-outline' : 'card-outline' }}" slot="start"></ion-icon>
        {{isPIXmethod ? "Prosseguir com PIX" : "Efetuar Pagamento" }}
      </ion-button>
    </div>
  </div>
</ion-content>
