.icon-user {
    padding: 0 .1rem;
    font-size: 1.7rem;
    color: var(--ion-color-primary);
}

.custom-toolbar {
    padding-top: 1.5rem;
    // --background: rgb(216,22,68);
    // --background: linear-gradient(185deg, rgba(216,22,68,1) 0%, rgba(249,73,53,1) 100%);
    --background: white;
    // height: 100px;
    // border-radius: 0px 0px 15px 15px;
}

ion-buttons ion-back-button {
    color: black;
}

#border-line {
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 10px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(237,45,92,1) 0%, rgba(228,113,68,1) 35%, rgba(67,146,67,1) 100%);
    border-image-slice: 1;
}
