<ion-header mode="md" class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" defaultHref="/home" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="title == '' || title == undefined" style="margin-left: 1rem; margin-top: 1rem;">
      <img src="assets/imgs/logo-eumais.png" width="80">
    </ion-title>
    <ion-title *ngIf="title !== ''">
      {{title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" *ngIf="userButton" (click)="perfil()">
        {{(this.user.userData) ? this.user.userData.firstName.split(" ")[0] : 'Faça login'}}
        <i class="las {{this.user.userData ? 'la-user-alt' : 'la-sign-in-alt'}}  icon-user"></i>
      </ion-button>
      <ion-button color="primary" *ngIf="cartButton && cartService.items?.length > 0" (click)="cart()">
        <i class="las la-shopping-cart icon-user"></i>
        <ion-badge id="notifications-badge" color="primary">{{cartService.items?.length}}</ion-badge>
      </ion-button>
      <ion-button *ngIf="closeButton" (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="border-line"></div>
</ion-header>
