@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
    font-family: 'Montserrat', sans-serif;
}

#data-range {
    background: white;
    z-index: 99999;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    ion-calendar {
        margin-top: 10%;
    }
  }

.input-box {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.border {
    border: 1px solid #d3d3d3;
}

.rounded {
    border-radius: 8px;
}

.ion-label {
    font-weight: bold !important;
}

// Paddings
.p-1-horizontal {
    padding: 0 .25rem;
}

.p-2-horizontal {
    padding: 0 .50rem;
}

.p-3-horizontal {
    padding: 0 .75rem;
}

.p-4-horizontal {
    padding: 0 1rem;
}

.p-5-horizontal {
    padding: 0 1.25rem;
}

.p-6-horizontal {
    padding: 0 1.5rem;
}

.p-1-vertical {
    padding: .25rem 0;
}

.p-2-vertical {
    padding: .50rem 0;
}

.p-3-vertical {
    padding: .75rem 0;
}

.p-4-vertical {
    padding: 1rem 0;
}

.p-5-vertical {
    padding: 1.25rem 0;
}

.p-1 {
    padding: .25rem .25rem;
}

.p-2 {
    padding: .50rem .50rem;
}

.p-3 {
    padding: .75rem .75rem;
}

.p-4 {
    padding: 1rem 1rem;
}

.p-5 {
    padding: 1.25rem 1.25rem;
}

.p-6 {
    padding: 1.5rem 1.5rem;
}

.m-1 {
    margin: .25rem .25rem;
}

.m-2 {
    margin: .5rem .5rem;
}

.m-3 {
    margin: .75rem .75rem;
}

.m-4 {
    margin: 1rem 1rem;
}
.m-5 {
    margin: 1.25rem 1.25rem;
}

.m-1-vertical {
    margin: .25rem 0;
}

.m-2-vertical {
    margin: .5rem 0;
}

.m-3-vertical {
    margin: .75rem 0;
}

.m-4-vertical {
    margin: 1rem 0;
}
.m-5-vertical {
    margin: 1.25rem 0;
}

.m-auto {
    margin: auto auto;
}

.swiper-pagination {
  position: relative;
  padding-top: 1rem;
}

.swiper-pagination-bullet {
  border-radius: 5px;
  width: 20px;
  margin-bottom: 0;
}

.swiper-pagination-bullet-active {
  background: var(--ion-color-primary);
}
