<app-header [closeButton]="true" title="Pagamento Efetuado"></app-header>

<ion-content>
  <div id="content" class="p-2-horizontal">
    <ion-card>
      <ion-card-content>
        <ion-row style="margin-top: 1rem;" >
          <ion-col size="12" class="ion-text-center">
            <ion-icon name="close-circle-outline" style="font-size: 5rem;" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 1rem;">
          <ion-col size="12" class="ion-text-center">
            <ion-card-subtitle>Pagamento Recusado!</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none" detail routerLink="/carrinho">
              <ion-label>Voltar ao carrinho</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
